button,
input {
    border-radius: 4px;
}

button:focus,
input:focus {
    outline: none;
}

#container {
    width: 60%;
    margin: 0 auto;
    min-width: 350px;
    max-width: 500px;
}

.form-item {
    display: flex;
    align-items: flex-start;
}

.form-item > * {
    line-height: 28px;
}

.form-item > label {
    font-weight: bold;
    margin-right: 6px;
    width: 4em;
    text-align: right;
}

.form-item > .input-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.form-item > .input-wrapper > input {
    line-height: 26px;
    border: 1px solid #bbb;
    padding: 0 4px;
    transition: border-color 0.3s;
}

.form-item > .input-wrapper > input ~ div {
    opacity: 0;
    transition: opacity 0.3s;
}

.form-item > .input-wrapper > input:focus,
.form-item > .input-wrapper > input:hover {
    border-color: #2e78b9;
}

.form-item > .input-wrapper > input:focus ~ div,
.form-item > .input-wrapper.success > div,
.form-item > .input-wrapper.error > div {
    opacity: 1;
}

.form-item > .input-wrapper > div {
    line-height: 24px;
    font-size: 12px;
    color: #888;
}

.form-item > .input-wrapper.error > input {
    border-color: #dd0b1a;
}

.form-item > .input-wrapper.error > div {
    color: #dd0b1a;
}

.form-item > .input-wrapper.success > input {
    border-color: #87cb72;
}

.form-item > .input-wrapper.success > div {
    color: #87cb72;
}

.submit-btn {
    float: right;
    line-height: 28px;
    color: white;
    background-color: #2e78b9;
    border-width: 0;
    cursor: pointer;
    padding: 0 8px;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #53a1d4;
}
