.my-table {
    border-collapse: collapse;
}

.my-table thead {
    background: #eee;
}

.my-table td,
.my-table th {
    border: 1px solid #ccc;
    padding: 6px 16px;
    text-align: center;
}

.sorter {
    display: inline-block;
    vertical-align: middle;
}

.sorter > div {
    line-height: 0;
    overflow: hidden;
    cursor: pointer;
}

.sorter > div > svg {
    fill: #999;
}

.sorter > div:hover > svg {
    fill: #333;
}

.sorter > div.active > svg {
    fill: #108ee9;
}
